.container {
    width: 285px;
    height: 728px;
    border-radius: 200px 200px 0px 0px;
    border: 1px solid #5D4D3A;
    background-color: #FFF3E3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #5E3C12;
    letter-spacing: -0.03em;
}

.flowerImgContainer {
    width: 100%;
    border-bottom: 1px solid #5D4D3A;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowerImg {
    width: 189px;
    height: 293px;
}

.flowerName {
    width: 100%;
    border-bottom: 1px solid #5D4D3A;
    height: 88px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowerLanguage {
    width: 100%;
    border-bottom: 1px solid #5D4D3A;
    height: 64px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend {
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommendTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.recommendDescription {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-left: 27px;
    margin-right: 27px;

}