.nav {
    width: 1440px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon,
.loginIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menuIcon {
    margin-left: 110px;
}
.loginIcon {
    margin-right: 110px;
}

.menuItem {
    font-size: 14px;
    color: white;
    margin: 52px;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.dark {
    color: #5D4D3A;
}